@font-face {
    font-family: 'DIN-Condensed-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('DIN-Condensed-Bold'), url('../fonts/DINCondensed-Bold.woff') format('woff');
}

.logo{
    font-style: italic;
    font-family:DIN-Condensed-Bold;
    font-size: 45px;
}

#a{
    font-size: 70px;
}

body{
    font-family: DIN-Condensed-Bold;
    font-style: italic;
    font-size: 45px;
    background-image: url("../images/cool-cover.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
    background-attachment: fixed;
    overflow-x: hidden;
    color: white;
}

.butns{
    color: white;
    font-family: DIN-Condensed-Bold;
    font-style: italic;
    border: none;
    background-color: inherit;
    font-size: 40px;
    cursor: pointer;
    display: inline-block;
}

.butns:hover{
    color: #F02B2D;
    font-family: DIN-Condensed-Bold;
    font-style: italic;
}

.container{
    background-color: rgba(0, 0, 0, 0.7);

}

h1{
    font-size: 50px;
}

h5{
    font-size: 40px;
}

.postcontain{
    border-radius: 25px;
    border: 2px solid #767676;
    padding: 20px;
    overflow: hidden;
}

