@font-face{
    font-family: "montserrat-thin";
    src: url(fonts/Montserrat-Thin.woff);
}

@font-face {
    font-family: 'DIN-Condensed-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('DIN-Condensed-Bold'), url('fonts/DINCondensed-Bold.woff') format('woff');
}

.logo{
    font-style: italic;
    font-family:DIN-Condensed-Bold;
    font-size: 45px;
}

#a{
    font-size: 70px;
}

body{
    font-family: DIN-Condensed-Bold;
    font-style: italic;
    font-size: 25px;
    background-image: url("cool-cover.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
    background-attachment: fixed;
    overflow-x: hidden;
    color: white;
}

.butns{
    color: white;
    font-family: DIN-Condensed-Bold;
    font-style: italic;
    border: none;
    background-color: inherit;
    font-size: 40px;
    cursor: pointer;
    display: inline-block;
}

.butns:hover{
    color: #F02B2D;
}

.banner-container{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.banner{
    margin-top: 180px;
    color: rgba(255,255,255,0.9);
    /*text-align: center;*/
    text-shadow: 3px 3px 4px #000000;
    font-size: 140px;
    font-family: montserrat-thin;
    font-style: normal;
    font-weight: bolder;
}

.pick-post{
    margin-top: 80px;
    color: white;
    font-family: DIN-Condensed-Bold;
    font-style: italic;
    font-size: 70px;
    background-color: inherit;
    cursor: pointer;
    display: inline-block;
}

.dash{
    font-size: 40px;
}

.pick-post:hover{
    background-color: #DE5F5F;
}

.pick-post-buttons{
    display: flex;
    justify-content: center;
}

#post{
    margin-left: 50px;
    text-align: center;
    border: 2px solid #DE5F5F;
    border-radius: 20px;
    padding-top: 10px;
    width: 380px;
}

#pick{
    margin-right: 50px;
    text-align: center;
    border: 2px solid #DE5F5F;
    border-radius: 20px;
    padding-top: 10px;
    width: 380px;
}

@media screen and (max-width: 700px){
    .banner{
        font-size: 70px;
    }
    #rock{
        font-size: 30px;
        transform: translateY(-15px);
    }
    #a{
        font-size: 60px;
        transform: translateX(-25px)translateY(-15px);
    }
    #job{
        transform: translateX(-30px)translateY(-15px);
        font-size: 30px;
    }
    .butns,.dash{
        font-size: 25px;
    }
    .pick-post{
        font-size: 30px;
    }
    #pick{
        margin-right: 8px;
    }
    #post{
        margin-left: 8px;
    }

}

