@font-face {
    font-family: 'DIN-Condensed-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('DIN-Condensed-Bold'), url('../fonts/DINCondensed-Bold.woff') format('woff');
}

html {
    overflow-y: scroll;
}


html {
    margin: 10px;
    overflow-y: scroll;
    background-image: url("../images/cool-cover.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
    background-attachment: fixed;
}


.dash{
    font-size: 40px;
    color: #F8F8FF;
}

.butns{
    color: white;
    font-family: DIN-Condensed-Bold;
    font-style: italic;
    border: none;
    background-color: inherit;
    font-size: 40px;
    cursor: pointer;
    display: inline-block;
}

.butns:hover{
    color: #F02B2D;
}

.logo{
    font-style: italic;
    font-family:DIN-Condensed-Bold;
    font-size: 45px;
}

#a{
    font-size: 70px;
}

@media screen and (max-width: 700px){
    .banner{
        font-size: 70px;
    }
    #rock{
        font-size: 30px;
        transform: translateY(-15px);
    }
    #a{
        font-size: 60px;
        transform: translateX(-25px)translateY(-15px);
    }
    #job{
        transform: translateX(-30px)translateY(-15px);
        font-size: 30px;
    }
    .butns,.dash{
        font-size: 25px;
    }
}


*, *:before, *:after {
    box-sizing: border-box;
}

body {

    font-family: DIN-Condensed-Bold;
    font-style: italic;
    font-size: 35px;
}

label{
    font-size: 20px;
}

.forms {
    background: white;
    padding: 25px;
    max-width: 650px;
    margin: 40px auto;
    border-radius: 30px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
}

.tab-group:after {
    content: "";
    display: table;
    clear: both;
}

.tab-group li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background: rgba(160, 179, 176, 0.25);
    color: #a0b3b0;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

.tab-group li a:hover {
    background: #ffffff;
    color: #F02B2D;
}
.tab-group .active a {
    background: #ffffff;
    color: #F02B2D;
}

.tab-content > div:last-child {
    display: none;
}

h1 {
    text-align: center;
    color:  #F02B2D;
    font-size: 50px;
    font-weight: 300;
    margin: 0 0 40px;
}

label {
    position: absolute;
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    left: 13px;
    color: #767676;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
}


.field-wrap label{
    font-size: 25px;
}


label .req {
    margin: 2px;
    color: #767676;
}

label.active {
    font-size: 15px;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    left: 2px;
}

label.active .req {
    opacity: 0;
}

label.highlight {
    color: #767676;
}

#emailid, #pass {
    font-family: DIN-Condensed-Bold;
    font-style: italic;
    font-size: 25px;
    display: inline-block;
    width: 97%;
    height: auto;
    padding: 12px;
    border-radius: 10px;
    -webkit-transition: border-color .25s ease, box-shadow .25s ease;
    transition: border-color .25s ease, box-shadow .25s ease;
    box-shadow: none;
    border-bottom: none;
    background-color: #cccccc;
}

input:focus{
    border-color: #F02B2D;
}

.field-wrap {
    position: relative;
    margin-bottom: 30px;
}


.button {
    border-radius: 25px;
    padding: 10px;
    font-size: 35px;
    background: #ffffff;
    border-color: #F02B2D;
    color: #767676;
    font-family: DIN-Condensed-Bold;
    font-style: italic;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-appearance: none;
}

.button:hover, .button:focus {
    background: #F8F8FF;
}

.button-block {
    display: block;
    width: 100%;
}

.forgot {
    margin-top: -20px;
    text-align: right;
}

.google{
    text-align: center;
    width: 100%;
    height: auto;
    border-radius: 25px;
    padding: 5px;
    border: 2px solid #F02B2D;
    -moz-border-radius: 15px;
}

.google a{
    text-align: center;
    font-size: 35px;
    text-transform:none;
    color:#767676;
}
