@font-face {
    font-family: 'DIN-Condensed-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('DIN-Condensed-Bold'), url('fonts/DINCondensed-Bold.woff') format('woff');
}

.logo{
    font-style: italic;
    font-family:DIN-Condensed-Bold;
    font-size: 45px;
}

#a{
    font-size: 70px;
}

body{
    font-family: DIN-Condensed-Bold;
    font-style: italic;
    font-size: 45px;
    background-image: url("cool-cover.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
    background-attachment: fixed;
    overflow-x: hidden;
    color: white;
}

.butns{
    color: white;
    font-family: DIN-Condensed-Bold;
    font-style: italic;
    border: none;
    background-color: inherit;
    font-size: 40px;
    cursor: pointer;
    display: inline-block;
}

.butns:hover{
    color: #F02B2D;
    font-family: DIN-Condensed-Bold;
    font-style: italic;
}

.dash{
    font-size: 40px;
}

.banner-container{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.banner{
    margin-top: 180px;
    color: rgba(255,255,255,0.9);
    /*text-align: center;*/
    text-shadow: 3px 3px 4px #000000;
    font-size: 140px;
    font-family: DIN-Condensed-Bold;
    font-style: italic;
    font-style: normal;
    font-weight: bolder;
}

.job-container{
    text-align: center;
    /*height: auto;*/
    height: 77vh;
    width: 100%;
    overflow-y: scroll;
    /* background-color: #565656; */
    display: inline-block;
    padding: 10px;

    /*padding: 20px;*/
}

.left-container{
    display: inline-block;
    width: 37%;
    float: left;
}

.mini-job-container:hover{
    border-color: #F02B2D;
    /*background-color: #F02B2D;*/
    cursor: pointer;
}

.right-container{
    padding: 15px;
    border-radius: 10px;
    display: inline-block;
    overflow-y: scroll;
    /*position: -webkit-sticky;*/
    position: fixed;
    right: 0;
    float: right;
    width: 59%;
    height: 75vh;
    background-color: #F02B2D;
}

.mini-job-container{
    font-family: DIN-Condensed-Bold;
    font-style: italic;
    font-size: 25px;
    margin: 10px;
    padding: 10px;
    text-align: left;
    /*float: left;*/
    border-radius: 10px;
    width: 100%;
    height: 30%;
    /* background-color: red; */
}

.job-detail{
    float: left;
}